.blog-header {
    background: url(../assets/blog-header.jpg);
    background-size: cover;
    height: 67vh;
}

@media (max-width: 600px) {
    .blog-header h2 {
        margin-top: 50%;
    }
}

.sidebar {
    width: 36%;
    padding-right: 50px;
        .sidebar-text {
            background: $bg-col2;
            padding: 100% 25px 25px 25px;
            position: relative;
                .side-blog-img {
                position: absolute;
                right: 10px;
                top: -30px;
                width: 140%;
                z-index: 6;
                }
        }
}

.sidebar-text ul {
    padding-left: 20px;
}

.sidebar-text li {
    font-family: $reg-text;
    font-size: 20px;
    line-height: 36px;
    color: $text-col;
}

.sidebar-text li::before {
    content: "\2022";
    color: $input-col;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.find-out {
    font-weight: bold;
    font-style: italic;
}

.find-out:hover {
    text-decoration: underline;
}

.main-blog {
    width: 64%;
    padding-left: 50px;
        .main-blog-img {
            position: relative;
            margin: -80% -21.5% 60px 32px;
                img {
                    box-shadow: -35px 35px 0px 0px rgb(240, 236, 40);
                }
        }
        .main-blog-post {
            padding-top: 50%;
            border-left: $box-col 3px solid;
            border-bottom: $box-col 3px solid;
                .main-blog-text {
                    padding-left: 35px;
                }
        }
}

.user-img {
    width: 250px;
}

.caption {
    margin-top: 5px;
    margin-bottom: 40px;
}

.input-comment {
    .comment {
        border: $input-col 2px solid;
        resize: none;
        overflow: hidden;
    }
}

.user-posts {
    margin: 30px 0;
}

.user-posts:nth-last-of-type(1) {
    margin-top: 70px;
    margin-bottom: 10px;
}

.comment-posts {
    margin-left: 25px;
        p {
            margin-top: 0;
            margin-bottom: 5px;
        }
}

@media (max-width: 1230px) {
    .main-blog-img img {
        margin-right: -15%;
    }
}

@media (max-width: 1000px) {
    .blog.wrapper {
        width: 90%;
    }
    .sidebar {
        display: none;
    }

    .main-blog {
        width: 90%;
        margin: 0 auto;
        padding-left: 0;
            .main-blog-img {
                margin: -80% auto 60px auto;
            }
    }
}

@media (max-width: 600px) {
    .blog-header.fa-bars {
            display: inline;
            position: absolute;
            width: 50px;
            top: 50px;
            right: 50px;
            background: none;
            font-size: 35px
    }
}