// MIXINS

// Headings
@mixin headings($font-size, $line-height, $let-spacing) {
    font-family: $other-text;
    color: $text-col;
    text-transform: uppercase;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $let-spacing;  
}

// Things you click on
@mixin click($line-height) {
    font-family: $other-text;
    color: $text-col;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

// TEXT STYLES

h1 {
    @include headings(120px, normal, normal);
    text-align: center;
    position: absolute;
    top: 60%;
    left: 28%;
    z-index: 5;
}

@media (max-width: 1100px) {
    h1 {
        font-size: 90px;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 80px;
    }
}

@media (max-width: 750px) {
    h1 {
        left: 15%;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 60px;
        top: 70%;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 50px;
        left: 10%;
    }
}

h2 {
    @include headings(80px, 92px, normal);
    text-align: center;
    margin-top: 10%;
}

h3 {
    @include headings(42px, normal, 1px);
    margin: 0;
}

@media (max-width: 1045px) {
    h3 {
        font-size: 36px;
    }
}

h4 {
    @include headings(32px, normal, 1px);
    margin-bottom: 10px;
}

@media (max-width: 1045px) {
    h4 {
        font-size: 28px;
    }
}

// ELEMENTS

body {
    margin: 0;
    color: $text-col;
}

header i.fa-bars {
    display: none;
}

section {
    padding: 80px 0px;
}

section:nth-child(odd) {
    background: $bg-col1;
}

img {
    max-width: 100%;
}

p {
    font-family: $reg-text;
    font-size: 20px;
    line-height: 32px;
    color: $text-col;
    margin-top: 15px;
}

@media (max-width: 560px) {
    p {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
    color: $text-col;
}

nav {
    display: flex;
    justify-content: flex-end;
        li {
        list-style-type: none;
        margin: 30px;
            a {
                @include click(29px);
                padding-bottom: 10px;
                border-bottom: none;
            }
        }
}

@media (max-width: 1100px) {
    nav {
        justify-content: center;
            .nav-list {
                padding-left: 0;
            }
    }
}

nav a:hover {
    border-bottom: $input-col 3px solid;
}

@media (max-width: 600px) {
    header {
        i.fa-bars {
            display: inline;
            position: absolute;
            width: 50px;
            top: 50px;
            right: 50px;
            background: none;
            font-size: 35px
        }
    }
}

// .fas-bars {
//     display: none;
// }

// @media (max-width: 600px) {
//     .fas-bars {
//         display: block;
//     }
// }
//     .nav-list {
//         display: none;
//         // flex-direction: column;
//         // text-align: center;
//         //     li {
//         //         margin: 5px auto;
//         //     }
//     }
// }

// CLASSES

.wrapper {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
}

.nav-list {
    display: flex;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-cc {
    display: flex;
    align-items: center;
    justify-content: center;
}

// FORMS

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

::placeholder {
    color: $text-col;
}

.name-email {
    display: flex;
    justify-content: space-between;
        .name, .email {
        width: 40%;
        border: none;
        border-bottom: $input-col 2px solid;
    }
}

input, textarea {
    background: rgba(0,0,0,0);
    font-family: $reg-text;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px;
}

textarea:focus {
    background: darken($bg-col1, 5%);
}

.submit {
    @include click(32px);
    background: $input-col;
    padding: 8px 15px;
    margin-top: 30px;
    border: none;
    transition: 0.3s ease;
}

.submit:hover {
    background: darken($input-col, 20%);
}

.submit:active {
    border-radius: 50px;
}

@media (max-width: 600px) {
    .name-email {
    flex-direction: column;
        .name, .email {
            width: 90%;
        }
    }
    ::placeholder {
        font-size: 18px;
    }
}

