// HEADING STYLES

// Headings
@mixin headings($font-size, $line-height, $let-spacing) {
    font-family: $other-text;
    color: $text-col;
    text-transform: uppercase;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $let-spacing;  
}

// Things you click on
@mixin click($line-height) {
    font-family: $other-text;
    color: $text-col;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

h1 {
    @include headings(120px, normal, normal);
    text-align: center;
}

@media (max-width: 1100px) {
    h1 {
        font-size: 90px;
        margin-left: 20%;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 80px;
    }
}

@media (max-width: 750px) {
    h1 {
        margin-left: 0%;
    }
}

@media (max-width: 600px) {
    h1 {
        position: static;
        font-size: 60px;
        margin-top: 30%;
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 45px;
    }
}

h2 {
    @include headings(80px, 92px, normal);
    text-align: center;
    margin-top: 10%;
}

h3 {
    @include headings(42px, normal, 1px);
    margin: 0;
}

h4 {
    @include headings(32px, normal, 1px);
    margin-bottom: 10px;
}

// ELEMENTS

body {
    margin: 0;
    color: $text-col;
}

header i.fa-bars {
    display: none;
}

section {
    padding: 80px 0px;
}

section:nth-child(odd) {
    background: $bg-col1;
}

img {
    max-width: 100%;
}

p {
    font-family: $reg-text;
    font-size: 20px;
    line-height: 32px;
    color: $text-col;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: $text-col;
}

nav {
    display: flex;
    justify-content: flex-end;
        li {
        list-style-type: none;
        margin: 30px;
            a {
                @include click(29px);
                padding-bottom: 10px;
                border-bottom: none;
            }
        }
}

@media (max-width: 1100px) {
    nav {
        justify-content: center;
    }
}

nav a:hover {
    border-bottom: $input-col 3px solid;
}

.nav-list {
    display: flex;
}

@media (max-width: 600px) {
    header {
        i.fa-bars {
            display: inline;
            position: absolute;
            width: 50px;
            top: 50px;
            right: 50px;
            // padding-top: 80px;
            // margin-left: 80%;
            background: none;
            font-size: 35px
        }
    }
}

// .fas-bars {
//     display: none;
// }

// @media (max-width: 600px) {
//     .fas-bars {
//         display: block;
//     }
//     .nav-list {
//         display: none;
//         // flex-direction: column;
//         // text-align: center;
//         //     li {
//         //         margin: 5px auto;
//         //     }
//     }
// }

.wrapper {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 600px) {
    width: 90%;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.space-btwn {
    display: flex;
    justify-content: space-between;
}

.flex-cc {
    display: flex;
    align-items: center;
    justify-content: center;
}