// HEADER

.home-header {
    height: 90vh;
    margin-top: 0;
    background: url(../assets/header-image.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
        // .h1 {
        //     position: absolute;
        //     top: 58%;
        //     left: 28%;
        //     z-index: 5;
        // }
}

.header-img {
    width: 42%;
    position: absolute;
    right: 50px;
    bottom: -150px;
    z-index: 2;
        img {
            border: $box-col 50px solid;
            border-right: none;
        }
}

@media (max-width: 1100px) {
    .home-header {
        background-position: 45% center;
    }
}

@media (max-width: 600px) {
    .home-header {
        background-position: 30% 50%;
    }
    .header-img {
        display: none;
    }
}

// ABOUT

.about {
    // position: relative;
    z-index: -2;
        .about-content {
            margin-top: 140px;
            margin-bottom: 50px;
            text-align: center;
                p {
                    width: 90%;
                    margin: 20px auto 40px auto;
                    margin-bottom: 40px;
                }
        }
}

a.more {
    @include click(32px);
    background: $input-col;
    padding: 12px 15px;
}

a.more:hover {
    background: darken($input-col, 15%);
}

@media (max-width: 600px) {
    .about {
        padding-top: 0px;
            .about-content {
                margin-top: 80px;
            }
    }
}

@media (max-width: 400px) {
    .about h3 {
        font-size: 36px;
    }
}

// GRID

.grid {
    position: relative;
    padding: 35px 0;
        .grid-text {
            width: 100%;
            display: flex;
        }
            .grid-text-sub {
                width: 50%;
            }
            h4 {
                margin-top: 30px;
            }
            p {
                margin-bottom: 40px;
            }
}

.side-img {
    position: absolute;
    width: 42%;
        img {
            width: 100%;
            max-width: 100%;
            min-height: 100%;
            height: 100%;
        }
}

.left-img {
    top: -35px;
    left: 0px;
        img {
            box-shadow: 35px 35px 0px 0px rgba(253,250,105,1);
        }
}

.right-img {
    bottom: -35px;
    right: 0;
        img {
            box-shadow: -35px 35px 0px 0px rgba(253,250,105,1);
        }
}

.right-gt {
    justify-content: flex-end;
    padding-bottom: 70px;
    padding-left: 100px;
}

.left-gt {
    padding-top: 50px;
    padding-right: 100px;
    text-align: right;
}

.grid,
.gallery {
    background: $bg-col2;
}

@media (max-width: 1360px) {
    .right-gt {
        padding-bottom: 30px;
    }
}

@media (max-width: 1045px) {
    .right-gt {
        padding-bottom: 0px;
    }
    .grid-text-sub 
        h4 {
            font-size: 28px;
        }
        p, a {
            font-size: 18px;
        }
}

@media (max-width: 950px) {
    .side-img {
        position: static;
        width: 90%;
        margin: 0 auto;
            // img {
            //     width: 100%;
            //     max-width: 100%;
            // }
    }
    .left-gt {
        padding: 50px 0;
    }
    .right-gt {
        padding: 50px 0;
    }
    .grid-text {
        width: 100%;
        margin: 0 auto;
            .grid-text-sub {
                width: 100%;
                text-align: center;
            }
    }
}

@media (max-width: 600px) {
    .left-img img {
    box-shadow: 20px 20px 0px 0px rgba(253,250,105,1);
    }

.right-img img {
    box-shadow: -20px 20px 0px 0px rgba(253,250,105,1);
    }
}

//ICON SECTION
.icon-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon-section {
    padding-top: 100px;
        .lil-section {
            width: 48%;
            padding-top: 40px;
        }
            .icon {
                height: 45px;
                width: 45px;
                background: $input-col;
                border-radius: 50%;
                text-align: center;
                    i {
                        font-size: 24px;
                        padding: 12px;
                    }
            }
            .icon-text {
                width: 90%;
                margin-left: 25px;
                    h4 {
                        margin-top: 0;
                    }
            }
}

@media (max-width: 950px) {
    .icon-section {
        padding-top: 50px;
            .icon-container {
                flex-direction: column;
                    .lil-section {
                        width: 100%;
                    }
            }
    }
}

@media (max-width: 400px) {
    .icon-text {
        margin-left: 15px;
    }
}

// BANNER

.banner {
    background-image: url(../assets/banner.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center center;
    z-index: 2;
}

@media (max-width: 1100px) {
    height: 35vh;
}

// MONTH'S PROFILE

.profile-container {
    width: 100%;
}

.profile p {
    margin-bottom: 50px;
}

.profile-text {
    margin-left: 90px;
    width: 66%;
}

.profile-img img {
    box-shadow: 35px 35px 0px 0px rgba(253,250,105,1);
}

.profile-img {
    width: 33%;
}

@media (max-width: 1020px) {
    .profile-img {
        display: none;
    }
    .profile-text {
        width: 100%;
        margin-left: 0;
    }
    .profile p {
        font-size: 18px;
    }
}

// @media (max-width: 600px) {
//     .profile img {
        
//     }
// }

@media (max-width: 560px) {
    .profile-container {
        display: flex;
        flex-direction: column;
        .profile-img {
            display: block;
            width: 70%;
            margin: 0 auto 50px auto;
                img {
                    box-shadow: 20px 20px 0px 0px rgba(253,250,105,1);
                }
        }
        .profile-text {
            text-align: center;
        }
    }
}

// GALLERY

.gallery-container {
    display: flex;
    justify-content: space-between;
}

.gallery-img {
    width: 31%;
    max-width: 100%;
}

@media (max-width: 1020px) {
    .gallery-img:nth-last-of-type(1) {
        display: none;
    }

    .gallery-img {
        width: 47%;
    }
}

@media (max-width: 560px) {
    .gallery-container {
        flex-direction: column;
            .gallery-img {
                width: 80%;
                margin: 15px auto;
            }
    }
    
    .gallery-img:nth-last-of-type(1) {
        display: inline-block;
    }
}


// FOOTER

footer {
    background: $text-col;
    padding: 5px;
        p {
            color: $bg-col2;
            text-align: center;
            margin: 0;
            font-size: 16px;
        }
}