header {
    background: url(../assets/header-image.jpg);
    background-size: cover;
    z-index: -2;
    position: relative;
}

img {
    max-width: 100%;
}

.header-img {
    width: 42%;
    position: absolute;
    right: 0;
    bottom: -150px;
    z-index: 2;
    border: $box-col 50px solid;
    border-right: none;
}

.about {
    z-index: -5;
}

.gallery img {
    width: 31%;
}

.banner {
    background-image: url(../assets/banner.jpg);
    height: 50vh;
    background-size: cover;
    z-index: 2;
}

.grid {
    position: relative;
}

.side-img {
    position: absolute;
    width: 42%;
}

.left-img {
    box-shadow: 35px 35px 0px 0px rgba(253,250,105,1);
    top: -35px;
    left: 0px;
}

.right-img {
    box-shadow: -35px 35px 0px 0px rgba(253,250,105,1);
    bottom: -70px;
    right: 0;
}

.profile img {
    box-shadow: 35px 35px 0px 0px rgba(253,250,105,1);
}