// Headings
@mixin headings($font-size, $line-height, $let-spacing) {
    font-family: $other-text;
    color: $text-col;
    text-transform: uppercase;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $let-spacing;  
}

// Things you click on
@mixin click($line-height) {
    font-family: $other-text;
    color: $text-col;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

h1 {
    @include headings(120px, normal, normal);
    text-align: center;
}

h2 {
    @include headings(80px, 92px, normal)
}

h3 {
    @include headings(42px, normal, 1px);
    margin: 0;
}

h4 {
    @include headings(32px, normal, 1px)
}

nav a {
    @include click(29px);
    padding-bottom: 10px;
    border-bottom: none;
}

nav a:hover {
    border-bottom: $input-col 3px solid;
}

a.more {
    @include click(32px);
    background: $input-col;
    padding: 12px 15px;
}

a.more:hover {
    background: darken($input-col, 15%);
}














