nav a {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: none; }

nav a:hover {
  border-bottom: #4ceea7 3px solid; }

body {
  margin: 0; }

section {
  padding: 80px 0px; }

section:nth-child(odd) {
  background: #effdf3; }

.grid,
.gallery {
  background: #fafafa; }

img {
  max-width: 100%; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #2c2c2c;
  margin-top: 15px; }

a.more {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  background: #4ceea7;
  padding: 12px 15px; }

a.more:hover {
  background: #15d983; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.space-btwn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex-cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header {
  height: 90vh;
  margin-top: 0;
  background: url(../assets/header-image.jpg);
  background-size: cover;
  background-position: center center;
  z-index: -2;
  position: relative; }
  header .h1 {
    position: absolute;
    top: 400px;
    left: 400px;
    z-index: 5; }
  header nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 50px; }
    header nav ul {
      margin-top: 0;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      header nav ul li {
        padding: 30px; }

.header-img {
  width: 42%;
  position: absolute;
  right: 0;
  bottom: -150px;
  z-index: 2;
  border: #fdfa69 50px solid;
  border-right: none; }

.about {
  z-index: -2; }
  .about .about-content {
    margin-top: 140px;
    margin-bottom: 50px;
    text-align: center; }
    .about .about-content p {
      width: 90%;
      margin: 20px auto 40px auto;
      margin-bottom: 40px; }

a.more {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  background: #4ceea7;
  padding: 12px 15px; }

a.more:hover {
  background: #15d983; }

.grid {
  position: relative; }
  .grid .grid-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .grid .grid-text-sub {
    width: 50%; }
  .grid p {
    margin-bottom: 40px; }

.side-img {
  position: absolute;
  width: 42%; }

.left-img {
  -webkit-box-shadow: 35px 35px 0px 0px #fdfa69;
  box-shadow: 35px 35px 0px 0px #fdfa69;
  top: -35px;
  left: 0px; }

.right-img {
  -webkit-box-shadow: -35px 35px 0px 0px #fdfa69;
  box-shadow: -35px 35px 0px 0px #fdfa69;
  bottom: -35px;
  right: 0; }

.right-gt {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 100px; }

.left-gt {
  padding-top: 50px; }

.grid,
.gallery {
  background: #fafafa; }

.icon-section {
  padding-top: 100px; }
  .icon-section .lil-section {
    width: 48%;
    padding-top: 40px; }
  .icon-section .icon {
    width: 10%;
    margin-top: 4px; }
  .icon-section .icon-text {
    width: 90%;
    margin-left: 25px; }

i {
  font-size: 30px;
  background: #4ceea7;
  border-radius: 50%;
  padding: 10px; }

.banner {
  background-image: url(../assets/banner.jpg);
  height: 50vh;
  background-size: cover;
  z-index: 2; }

.profile p {
  margin-bottom: 50px; }

.profile-text {
  margin-left: 10%; }

.profile img {
  -webkit-box-shadow: 35px 35px 0px 0px #fdfa69;
  box-shadow: 35px 35px 0px 0px #fdfa69; }

.profile-img {
  width: 70%; }

.gallery img {
  width: 31%; }

footer {
  background: #2c2c2c;
  padding: 5px; }
  footer p {
    color: #fafafa;
    text-align: center;
    margin: 0; }

h1 {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 120px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center; }

h2 {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 92px;
  letter-spacing: normal; }

h3 {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 42px;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0; }

h4 {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 1px; }

nav a {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: none; }

nav a:hover {
  border-bottom: #4ceea7 3px solid; }

a.more {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  background: #4ceea7;
  padding: 12px 15px; }

a.more:hover {
  background: #15d983; }

header.contact-header {
  background: url(../assets/contact-header.jpg); }

header.blog-header {
  background: url(../assets/blog-header.jpg);
  background-size: cover;
  height: 67vh; }

.sidebar {
  width: 36%;
  padding-right: 50px; }
  .sidebar .sidebar-text {
    background: #fafafa;
    padding-top: 100%;
    position: relative; }
    .sidebar .sidebar-text .side-blog-img {
      position: absolute;
      right: 10px;
      top: -30px;
      width: 140%;
      z-index: 6; }

.sidebar-text li {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #2c2c2c;
  margin-top: 15px; }

.sidebar-text li::before {
  content: "\2022";
  color: #4ceea7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

.main-blog {
  width: 64%;
  padding-left: 50px; }
  .main-blog .main-blog-post {
    padding-top: 65%;
    border-left: #fdfa69 3px solid;
    border-bottom: #fdfa69 3px solid;
    position: relative; }
    .main-blog .main-blog-post .main-blog-img {
      -webkit-box-shadow: -35px 35px 0px 0px #fdfa69;
      box-shadow: -35px 35px 0px 0px #fdfa69;
      width: 125%;
      position: absolute;
      right: -21%;
      top: -220px; }
    .main-blog .main-blog-post .main-blog-text {
      padding-left: 35px; }

.caption {
  margin-top: 5px;
  margin-bottom: 40px; }

.input-comment .comment {
  border: #4ceea7 2px solid;
  resize: none;
  overflow: hidden; }

.input-comment .post {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  background: #4ceea7;
  padding: 8px 15px;
  margin-top: 30px;
  border: none; }

.name,
.email,
.comment {
  background: #effdf3;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 30px;
  padding: 15px; }

.name,
.email {
  width: 50%;
  border: none;
  border-bottom: #4ceea7 2px solid; }

.name {
  margin-right: 40px; }

::-webkit-input-placeholder {
  color: #2c2c2c; }

:-ms-input-placeholder {
  color: #2c2c2c; }

::-ms-input-placeholder {
  color: #2c2c2c; }

::placeholder {
  color: #2c2c2c; }

body {
  color: #2c2c2c; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #2c2c2c; }
