nav a {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: none; }

nav a:hover {
  border-bottom: #4ceea7 3px solid; }

h1 {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 120px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center; }

h2 {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 92px;
  letter-spacing: normal;
  text-align: center; }

h3 {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 42px;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0; }

h4 {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 32px;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 10px; }

body {
  margin: 0;
  color: #2c2c2c; }

section {
  padding: 80px 0px; }

section:nth-child(odd) {
  background: #effdf3; }

img {
  max-width: 100%; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #2c2c2c;
  margin-top: 15px; }

a {
  text-decoration: none;
  color: #2c2c2c; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  nav li {
    list-style-type: none;
    margin: 30px; }
    nav li a {
      font-family: "Playfair Display", serif;
      color: #2c2c2c;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 20px;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: none; }

@media (max-width: 1100px) {
  nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

nav a:hover {
  border-bottom: #4ceea7 3px solid; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

@media (max-width: 600px) {
  width: 90%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.space-btwn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex-cc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header {
  height: 90vh;
  margin-top: 0;
  background: url(../assets/header-image.jpg);
  background-size: cover;
  background-position: center center;
  position: relative; }
  header .h1 {
    position: absolute;
    top: 58%;
    left: 28%;
    z-index: 5; }
  @media (max-width: 1300px) {
    header .h1 {
      left: 20%; } }
  @media (max-width: 1100px) {
    header h1.h1 {
      font-family: "Playfair Display", serif;
      color: #2c2c2c;
      text-transform: uppercase;
      font-size: 80px;
      line-height: normal;
      letter-spacing: normal; } }

.header-img {
  width: 42%;
  position: absolute;
  right: 0;
  bottom: -150px;
  z-index: 2;
  border: #fdfa69 50px solid;
  border-right: none; }

.about {
  z-index: -2; }
  .about .about-content {
    margin-top: 140px;
    margin-bottom: 50px;
    text-align: center; }
    .about .about-content p {
      width: 90%;
      margin: 20px auto 40px auto;
      margin-bottom: 40px; }

a.more {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  background: #4ceea7;
  padding: 12px 15px; }

a.more:hover {
  background: #15d983; }

.grid {
  position: relative; }
  .grid .grid-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .grid .grid-text-sub {
    width: 50%; }
  .grid p {
    margin-bottom: 40px; }

.side-img {
  position: absolute;
  width: 42%; }

.left-img {
  -webkit-box-shadow: 35px 35px 0px 0px #fdfa69;
  box-shadow: 35px 35px 0px 0px #fdfa69;
  top: -35px;
  left: 0px; }

.right-img {
  -webkit-box-shadow: -35px 35px 0px 0px #fdfa69;
  box-shadow: -35px 35px 0px 0px #fdfa69;
  bottom: -35px;
  right: 0; }

.right-gt {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 100px;
  padding-left: 100px; }

.left-gt {
  padding-top: 50px;
  padding-right: 100px;
  text-align: right; }

.grid,
.gallery {
  background: #fafafa; }

.icon-section {
  padding-top: 100px; }
  .icon-section .lil-section {
    width: 48%;
    padding-top: 40px; }
  .icon-section .icon {
    height: 45px;
    width: 45px;
    background: #4ceea7;
    border-radius: 50%;
    text-align: center; }
    .icon-section .icon i {
      font-size: 24px;
      padding: 12px; }
  .icon-section .icon-text {
    width: 90%;
    margin-left: 25px; }

.banner {
  background-image: url(../assets/banner.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center center;
  z-index: 2; }

.profile-container {
  width: 100%; }

.profile p {
  margin-bottom: 50px; }

.profile-text {
  margin-left: 90px;
  width: 66%; }

.profile img {
  -webkit-box-shadow: 35px 35px 0px 0px #fdfa69;
  box-shadow: 35px 35px 0px 0px #fdfa69; }

.profile-img {
  width: 33%; }

@media (max-width: 1020px) {
  .profile-img {
    display: none; }
  .profile-text {
    width: 100%;
    margin-left: 0; }
  .profile p {
    font-size: 18px; } }

@media (max-width: 560px) {
  .profile-img {
    display: block;
    width: 100%;
    margin-bottom: 50px; }
  .profile-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.gallery-img {
  width: 31%;
  max-width: 100%; }

@media (max-width: 1020px) {
  .gallery-img:nth-last-of-type(1) {
    display: none; }
  .gallery-img {
    width: 47%; } }

@media (max-width: 560px) {
  .gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .gallery-container .gallery-img {
      width: 100%;
      margin: 15px auto; }
  .gallery-img:nth-last-of-type(1) {
    display: inline-block; } }

footer {
  background: #2c2c2c;
  padding: 5px; }
  footer p {
    color: #fafafa;
    text-align: center;
    margin: 0;
    font-size: 16px; }

header.blog-header {
  background: url(../assets/blog-header.jpg);
  background-size: cover;
  height: 67vh; }

.sidebar {
  width: 36%;
  padding-right: 50px; }
  .sidebar .sidebar-text {
    background: #fafafa;
    padding: 100% 25px 25px 25px;
    position: relative; }
    .sidebar .sidebar-text .side-blog-img {
      position: absolute;
      right: 10px;
      top: -30px;
      width: 140%;
      z-index: 6; }

.sidebar-text ul {
  padding-left: 20px; }

.sidebar-text li {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #2c2c2c; }

.sidebar-text li::before {
  content: "\2022";
  color: #4ceea7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

.find-out {
  font-weight: bold;
  font-style: italic; }

.find-out:hover {
  text-decoration: underline; }

.main-blog {
  width: 64%;
  padding-left: 50px; }
  .main-blog .main-blog-img {
    -webkit-box-shadow: -35px 35px 0px 0px #f0ec28;
    box-shadow: -35px 35px 0px 0px #f0ec28;
    position: relative;
    top: -150px;
    right: -10%; }
  .main-blog .main-blog-post {
    padding-top: 50%;
    border-left: #fdfa69 3px solid;
    border-bottom: #fdfa69 3px solid; }
    .main-blog .main-blog-post .main-blog-text {
      padding-left: 35px; }

.user-img {
  width: 250px; }

.caption {
  margin-top: 5px;
  margin-bottom: 40px; }

.input-comment .comment {
  border: #4ceea7 2px solid;
  resize: none;
  overflow: hidden; }

.input-comment .submit {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  background: #4ceea7;
  padding: 8px 15px;
  margin-top: 30px;
  border: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }

.submit:hover {
  background: #12c275; }

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.name,
.email,
.comment {
  background: rgba(0, 0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 30px;
  padding: 15px; }

.name,
.email {
  width: 40%;
  border: none;
  border-bottom: #4ceea7 2px solid; }

::-webkit-input-placeholder {
  color: #2c2c2c; }

:-ms-input-placeholder {
  color: #2c2c2c; }

::-ms-input-placeholder {
  color: #2c2c2c; }

::placeholder {
  color: #2c2c2c; }

.user-posts {
  margin: 30px 0; }

.user-posts:nth-last-of-type(1) {
  margin-top: 70px;
  margin-bottom: 10px; }

.comment-posts {
  margin-left: 25px; }
  .comment-posts p {
    margin-top: 0;
    margin-bottom: 5px; }

header.contact-header {
  background: url(../assets/contact-header.jpg);
  background-size: cover;
  height: 67vh; }
  header.contact-header h2 {
    margin-top: 10%;
    margin-left: 10%; }

.contact-header i {
  display: none; }

@media (max-width: 600px) {
  .contact-header {
    position: relative; }
    .contact-header i {
      display: inline;
      position: absolute;
      width: 50px;
      top: 50px;
      right: 50px;
      background: none;
      font-size: 35px; }
    .contact-header h2 {
      margin-top: 35%; }
  .contact-header i:hover {
    color: #4ceea7; }
  .nav-list {
    display: none; } }

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.socials i {
  background: none;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  font-size: 30px;
  text-align: left;
  margin-right: 26px; }

.socials i:hover {
  color: #4ceea7; }

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .address .info-email {
    margin: 20px 0;
    font-size: 26px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    line-height: 1.1; }
  .address p {
    margin: 0; }

.contact-info {
  margin-bottom: 80px; }

.form {
  position: relative; }

.input-msg {
  background: #fafafa;
  padding: 30px;
  -webkit-box-shadow: -35px 35px 0px 0px #fdfa69;
  box-shadow: -35px 35px 0px 0px #fdfa69;
  position: absolute;
  right: -40px;
  top: -240px;
  width: 65%; }

.name-email-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.name-c,
.email-c,
.comment-c {
  background: rgba(0, 0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 30px;
  padding: 15px; }

.name-c,
.email-c {
  width: 40%;
  border: none;
  border-bottom: #4ceea7 2px solid; }

.name-c,
.email-c,
.message {
  background: rgba(0, 0, 0, 0);
  font-family: "Roboto", sans-serif;
  margin-top: 30px; }

.message {
  resize: none;
  overflow: hidden;
  padding: 15px;
  border: #4ceea7 2px solid;
  font-size: 20px;
  margin-top: 45px; }

.submit {
  font-family: "Playfair Display", serif;
  color: #2c2c2c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
  background: #4ceea7;
  padding: 8px 15px;
  margin-top: 30px;
  border: none;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }

@media (max-width: 1230px) {
  .wrapper {
    width: 85%; }
  .contact-info {
    width: 30%; }
    .contact-info p {
      font-size: 18px; } }

@media (max-width: 1100px) {
  .contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contact-container .input-msg {
      position: static;
      margin: -240px auto 50px auto;
      width: 90%; }
    .contact-container .contact-info {
      width: 100%;
      margin: 50px auto;
      margin-bottom: 20px;
      text-align: center; }
      .contact-container .contact-info .socials i {
        margin: 0 13px; }
      .contact-container .contact-info .info-email {
        text-align: center; }
      .contact-container .contact-info .physical-address {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (max-width: 800px) {
  header.contact-header h2 {
    margin-left: 0; }
  section.contact-page {
    padding-bottom: 30px; }
    section.contact-page .contact-info {
      margin-bottom: 0; }
      section.contact-page .contact-info .physical-address {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }

@media (max-width: 700px) {
  header.contact-header h2 {
    font-size: 60px; } }

@media (max-width: 600px) {
  header.contact-header h2 {
    margin-top: 35%; }
  .input-msg {
    margin-top: -100px; }
    .input-msg .name-email-c {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .input-msg .name-email-c .name-c, .input-msg .name-email-c .email-c {
        width: 90%; } }

body {
  color: #2c2c2c; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #2c2c2c; }
