@import "variables";
@import "general";
@import "home";
@import "text";
@import "contact";
@import "blog";


body {
    color: $text-col;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $text-col;
}

